.Weather {
    padding: 15px;
    border: 1px solid #FFF;
    margin: 4px 4px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
    background: #FFF;
    height: 100%;
    box-sizing: border-box;
}

.Weather h4 {
    color: #ccc;
}

.Weather .Search-Container {
    height: 20%;
    box-sizing: inherit;
}

.Current-Weather-Container {
    padding: 22px 0;
    box-sizing: inherit;
    height: 80%;
}