.Search select {
    outline: none;
    border: 1px solid #CCC;
    border-radius: 5px 0 0 5px;
    height: 26px;
    width: 80%;
    padding: 0px 8px;
    box-sizing: border-box;
    color: #828282;
}

.Search select:hover {
    outline: none;
}

.Search button {
    border: 1px solid #CCC;
    height: 26px;
    border-left: none;
    width: 20%;
    border-radius: 0 5px 5px 0;
}